<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.jeonsihyeon.memorymap.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>unfading</string>
			</array>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.jeonsihyeon.memorymap.shortcuts.showTodayMemories</string>
		<string>com.jeonsihyeon.memorymap.shortcuts.newMemory</string>
		<string>com.jeonsihyeon.memorymap.shortcuts.showCalendar</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Deliver rewind moments when you return to meaningful places.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Show nearby memory pins and place-based rewind moments.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save shared memory photos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Attach photos to group memories.</string>
	<key>SupabasePublishableKey</key>
	<string>sb_publishable_eA_S-ojxFJwFV53VN6k4Nw_KfcGTZm3</string>
	<key>SupabaseURL</key>
	<string>https://umkbjxycdgfhgwcnfbmo.supabase.co</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/GowunDodum-Regular.ttf</string>
		<string>Fonts/Nunito-Regular.ttf</string>
		<string>Fonts/Nunito-SemiBold.ttf</string>
		<string>Fonts/Nunito-Bold.ttf</string>
		<string>Fonts/Nunito-Black.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.jeonsihyeon.memorymap.refresh</string>
		<string>com.jeonsihyeon.memorymap.rewind</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
		<key>UIImageName</key>
		<string>LaunchLogo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>UNUserNotificationCenterUsageDescription</key>
	<string>Send rewind reminders and group updates.</string>
</dict>
</plist>
